body{
    font-family: Raleway;
    }

header{
      background-color: paleturquoise;
      height: 45px;
      padding: 0 30px;
      }

header nav{
          float: right;
          }

header img{
          float: left;
          height: 30px;
          width: 30px;
          margin-top: 8px;
          }

header nav{
          float: right;
          }

nav li{
      display: inline-block;
      }

#hero_banner{
            text-align: center;
            }
            
.parent{
        position: relative;
        }

.over-img{
          position: absolute;
          top: 20%;
          left: 44.5%;
          border: 2px solid turquoise;
          border-radius: 50%;
          }

.over-button{
            position: absolute;
            top: 75%;
            left: 47%;
            background: white;
            border: 2px solid turquoise;
            font-color: solid turquoise;
            font-family: Raleway;
            padding: 5px 10px;
            text-decoration: none;
            }

.three-col{
          width: 20%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          margin: 0 25px;
          }

.three-col img{
              border-radius: 50%;
              border: 3px solid #3F8DA7;
              height: 200px;
              width: 200px;
              margin: 25px 0;
              }

.three-col p{
            margin: 10px;
            line-height: 1.4em;
            margin-bottom: 40px;
            }

footer{
      background: #3F8DA7;
      color: white;
      margin-top: 40px;
      padding: 20px 0;
      text-align: center;
      }

footer ul{
          margin: 40px 0;
        }

footer li{
          display: inline-block;
          margin: 0 25px;
          }

.link {
      color: white
      }
