body{
    font-family: Raleway;
    }

header{
      background-color: paleturquoise;
      height: 45px;
      padding: 0 30px;
      }

header nav{
          float: right;
          }

header img{
          float: left;
          height: 30px;
          width: 30px;
          margin-top: 8px;
          }

header nav{
          float: right;
          }

nav li{
      display: inline-block;
      }

#hero_banner{
            text-align: center;
            }
.parent{
        position: relative;
        }

.over-img{
          position: absolute;
          top: 20%;
          left: 40%;
          border: 2px solid turquoise;
          border-radius: 50%;
          }

.over-button{
            position: absolute;
            top: 75%;
            left: 47%;
            background: white;
            border: 2px solid turquoise;
            font-color: solid turquoise;
            padding: 5px 10px;
            text-decoration: none;
            }
